body {
    margin: 0px;
    text-align: center;
}

#wrapper {
	max-width: 980px;
	text-align: center;
    font-family: sans-serif;
    margin: auto;
}

caption {
	caption-side:bottom;
}

td {
	 text-align:center; 
}

th {
	 text-align:center; 
}

img {
	max-width: 100%;
}

#header {
	position: static;
	width: 100%;
	height: auto;
	color: black;
    font-family: Impact, sans-serif;
    padding-bottom: 5px;
}

#header-text {
	font-size: 41px;
	color: black;
	text-decoration: none;
}

#menu {
	position: static;
	width: 100%;
	height: auto;
}

.count-select {
	padding-top: 0px;
	padding-right: 100px;
	background-color: red;
}

#textbox {
	position: static;
	width: 100%;
	height: auto;
    padding: 0px 10px;
    text-align: justify;
    min-height: 400px;
}

#small-textbox {
	float: left;
	position: static;
	width: 80%;
	height: auto;
    padding: 0px 10px;
    text-align: justify;
    min-height: 350px;
}

#labelbox {
	float: right;
	width: 20%;
	position: static;
	height: auto;
    padding: 0px 15px 10px 15px;
    text-align: justify;
    min-height: 350px;
   	text-align: center;
}

#loginbox {
	position: static;
	width: 100%;
	height: auto;
	text-align: center;
    font-family: sans-serif;
    padding: 75px 10px;
    min-height: 400px;
}

#pager {
	position: static;
	width: 100%;
	height: auto;
    padding: 25px 10px 0px 10px;
}

#footer {
	position: static;
	height: 100%;
	clear: both;
	font-family: sans-serif;
	font-size: 11px;
	text-align: center;
	min-height: 45px;
}

#user-info {
	font-size: 16px;
	padding-bottom: 20px;
}

#fine-info {
	font-size: 16px;
	padding-top: 80px;
	padding-bottom: 100px;
}

.greeting-message {
	padding-top: 70px;
	padding-bottom: 30px;
	text-align: center;
}

#logout-button {
	padding-right: 10px;
}

.navbar-header {
    padding-top: 15px;
    text-align: center;
}

.navbar-brand {
	float:none;
}

.intro-resource {
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	border-radius: 10px;
}

.post-resource {
	padding: 0px 10px 10px 10px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #e0e0e0;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.post-dates {
	font-style: oblique;
}

.all-labels {
	margin-top: 10px;
}

.single-label-in-group {
	padding-bottom: 5px;
}

.resource {
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #e0e0e0;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.add-resource {
	padding-right: 15px;
	height: 60px;
	margin-bottom: 50px;
}

.count-selector {
	padding: 10px 10px 0px 10px;
	margin-top: 10px;
	height: 60px;
}

.posts-count-selector {
	padding-bottom: 150px;
}

.resource-image {
	display: block;
	margin: auto;
	max-height: 185px;
}

.resource-delete-button-offset {
	padding-top: 50px;
}

.post-label {
	border-radius: 8px;
}

.hide-element {
	display: none;
}

.create-label {
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #e0e0e0;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.default-label-edit {
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #e0e0e0;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.create-color {
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #e0e0e0;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.label-badge {
	margin-bottom: 1px;
}

.label-after-post {
	display: inline-block;
	margin: 5px;
}

.text-right {
	text-align: right;
}

.text-underlined {
	text-decoration: underline;
}

.logout-button {
	padding-right: 8px;
}
